.first{
	height: 700px;
	background-image: url(https://images.kz.prom.st/66846579_w640_h640_konferents-sumka-iz.jpg);
	background-size: 100% 100%;
	position: relative;
	background-repeat: no-repeat;
	right: 20px;
	left: 10px;
}

.p{
	padding-top: 30px;
}

.txt{
	font-size: 75px;
	text-align: center;
	line-height: 1em;
	font-weight: 200;
	font-style: unset;
	position: absolute;
	left: 40px;
	top: 33%;
}

.span{
	color: #23c77f;
	font-size: 30px;
	position: absolute;
	left: 0;
	top: 160px;
	width: 100%;
	font-weight: 400;
}

button{
	color: white;
	background-color: #23c77f;
	text-align: center;
	padding: 15px 40px;
	margin-top: 57px;
	border: none;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	border-radius: 25px;
	position: absolute;
	bottom: 25%;
	left: 160px;
	font-weight: 500;
}

.c{
	padding-right: 30px;
	padding-left: 10px;
}

.bt{
	font-weight: 600;
}

.span2{
	color: #23c77f;
	font-size: 20px;
	font-weight: 600;
}

.second{
	left: 10px;
	height: 410px;
	background-image: url(https://cs8.pikabu.ru/post_img/big/2017/02/09/7/1486640461173219931.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: relative;
}

.third{
	position: relative;
	top: 30px;
	left: 10px;
	background-color: #23c77f;
	height: 260px;
	font-size: 50px;
	text-align: center;
	line-height: 1.1em;
	padding-top: 50px;
	font-weight: 600;
	color: white;
}

.span3{
	font-size: 20px;
	text-align: center;
	top: 150px;
}

.txt2{
	position: absolute;
	left: 20px;
	right: 20px;
	bottom: 15px;
	height: 70px;
	background-color: white;
	font-size: 1vw;
	padding-left: 15px; 
	padding-top: 12px;
	font-weight: 600;
}

